@model ProLab.Models.DataModels.ActivityPost

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>ActivityPost</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="DateTimePosted" class="control-label"></label>
                <input asp-for="DateTimePosted" class="form-control" />
                <span asp-validation-for="DateTimePosted" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DateTimeChanged" class="control-label"></label>
                <input asp-for="DateTimeChanged" class="form-control" />
                <span asp-validation-for="DateTimeChanged" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DateTimeStarted" class="control-label"></label>
                <input asp-for="DateTimeStarted" class="form-control" />
                <span asp-validation-for="DateTimeStarted" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DateTimeEnded" class="control-label"></label>
                <input asp-for="DateTimeEnded" class="form-control" />
                <span asp-validation-for="DateTimeEnded" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HoursSpent" class="control-label"></label>
                <input asp-for="HoursSpent" class="form-control" />
                <span asp-validation-for="HoursSpent" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MinutesSpent" class="control-label"></label>
                <input asp-for="MinutesSpent" class="form-control" />
                <span asp-validation-for="MinutesSpent" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SecondsSpent" class="control-label"></label>
                <input asp-for="SecondsSpent" class="form-control" />
                <span asp-validation-for="SecondsSpent" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ApplicationUserId" class="control-label"></label>
                <select asp-for="ApplicationUserId" class="form-control" asp-items="ViewBag.ApplicationUserId"></select>
                <span asp-validation-for="ApplicationUserId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HealthActivityId" class="control-label"></label>
                <select asp-for="HealthActivityId" class="form-control" asp-items="ViewBag.HealthActivityId"></select>
                <span asp-validation-for="HealthActivityId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ActivityPostStatusId" class="control-label"></label>
                <select asp-for="ActivityPostStatusId" class="form-control" asp-items="ViewBag.ActivityPostStatusId"></select>
                <span asp-validation-for="ActivityPostStatusId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Location" class="control-label"></label>
                <input asp-for="Location" class="form-control" />
                <span asp-validation-for="Location" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
