@inject SignInManager<ApplicationUser> signInManager;

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - PRO LAB </title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" rel="stylesheet">
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/jquery-validate/jquery.validate.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a href="~/img/PROLAB.jpg"></a>
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index"><img id="brand_img" src="~/img/PROLAB.jpg" /></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <ul class="navbar-nav flex-grow-1 col-md-auto">
                        @if (signInManager.IsSignedIn(User))
                        {
                            <li class="nav-item">
                                <form method="post" asp-action="logout" asp-controller="account">
                                    <button type="submit" class="nav-link btn btn-link py-0"
                                            style="width:auto">
                                        Logout @User.Identity.Name
                                    </button>
                                </form>
                            </li>
                        }
                        else
                        {
                            
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Account" asp-action="Register">Register</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Account" asp-action="Login">Login</a>
                            </li>

                        }
                    </ul>
                    <ul class="navbar-nav flex-grow-1">

                        @*<li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="Administration" asp-action="Admin">Admin</a>
        </li>*@
                        @if (signInManager.IsSignedIn(User) && User.IsInRole("Admin"))
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Administration" asp-action="Admin">Admin</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Referee" asp-action="RefMain">Domare</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Hockey">Hockey</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Health">Hälsa</a>
                            </li>                            
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Projects">Proj.</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Accounting" asp-action="Accounting">Acc.</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Links">Links</a>
                            </li>
                            <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Cups">Cups</a>
                            </li>
                             <li class="nav-item">                                
                                <div class="badge">                                
                                <a class="nav-link text-dark" asp-area="" asp-controller="NBS" asp-action="NBS">
                                <img src="~/img/NetelloAB-Logo10procent.jpg" alt="HTML tutorial"></a>
                            </div>
                            </li>

                        }
                        @if (signInManager.IsSignedIn(User) && User.IsInRole("SuperUser"))
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="SuperUser">Min sida</a>
                            </li>

                        }
                        @if (signInManager.IsSignedIn(User) && User.IsInRole("Peter"))
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Peter">Min sida</a>
                            </li>

                        }
                        @if (signInManager.IsSignedIn(User) && User.IsInRole("Anchors"))
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Anchors">Min sida</a>
                            </li>

                        }
                        @if (signInManager.IsSignedIn(User) && User.IsInRole("Daif"))
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Daif">Min sida</a>
                            </li>

                        }
                        @if (signInManager.IsSignedIn(User) && User.IsInRole("Referee"))
                        {
                            <li class="nav-item">
                                <div class="badge">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Referee">
                                <img src="~/image/97orest203159992.jpg" alt="HTML tutorial" style="width:42px;height:42px;"> - REF</a>
                                </div>
                            </li>
                            <li class="nav-item">
                            <div class="badge">                                
                                <a class="nav-link text-dark" asp-area="" asp-controller="SthlCup" asp-action="StockholmCup2022">
                                <img src="~/image/StockholmCup_Logo.jpg" alt="HTML tutorial" style="width:42px;height:42px;"> - Stockholm Cup 2022</a>
                            </div>
                            </li>                            
                            <li class="nav-item">
                                <div class="badge">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Cups">
                                <img src="~/image/97orest203159992.jpg" alt="HTML tutorial" style="width:42px;height:42px;"> - Cups</a>
                                </div>
                            </li>

                        }
                        @if (signInManager.IsSignedIn(User) && User.IsInRole("Regus"))
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Regus">My Page</a>
                            </li>

                        }
                        @if (signInManager.IsSignedIn(User) && User.IsInRole("NBS"))
                        {
                            <li class="nav-item">                                
                                <div class="badge">                                
                                <a class="nav-link text-dark" asp-area="" asp-controller="NBS" asp-action="NBS">
                                <img src="~/img/NetelloAB-Logo10procent.jpg" alt="HTML tutorial"></a>
                            </div>
                            </li>

                        }
                    </ul>


                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2022 - PRO LAB - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
