@model UploadModel

@{
    ViewData["Title"] = "Upload New Image";
}

<div class="card col-md-6">
    
    <div class="row">
        <div class="col-md-12">
            <form asp-action="CreateUpload" enctype="multipart/form-data">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="card-header">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label asp-for="Title" class="control-label">Namn</label>
                            <input asp-for="Title" class="form-control" value="Namge din bild !" />
                            <span asp-validation-for="Title" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="card-header">
                    <div class="col-md-12"></div>
                    <div class="form-group">
                        <label asp-for="UploadFile" class="control-label">Ladda upp bild </label>
                        <input asp-for="UploadFile" accept="image/*" />
                        <span asp-validation-for="UploadFile" class="text-danger"></span>
                    </div>
                </div>
                <div class="card-footer">
                    <div class="col-md-12">
                        <div class="form-group">
                            <input type="submit" value="Ladda upp !" class="btn btn-sm btn-block btn-primary" />
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <div class="card-footer">
        <a class="btn btn-sm btn-block btn-outline-success col-md-12" asp-action="ListUploads">Till Uploads</a>
    </div>
    </div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}