@model UploadModel

@{
    ViewData["Title"] = "EditUpload";
}

<div class="card col-md-6">
    <div class="card-header col-md-12">
    <h6> Edit Title for upload @Html.DisplayFor(model => model.UploadId) - @Html.DisplayFor(model => model.UploadName)</h6>
    </div>
<div class="card-body col-md-6">
<div class="row">
    <div class="col-md-12">
        <form asp-action="EditUpload">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="UploadId" />
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <input type="hidden" asp-for="UploadName" />
            @*<label asp-for="UploadName" class="control-label"></label>
            <input asp-for="UploadName" class="form-control" />
            <span asp-validation-for="UploadName" class="text-danger"></span>*@      
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-sm btn-primary" />
            </div>
        </form>
    </div>
</div>
</div>
</div>
<div class="card-footer col-md-6">    
    <a class="btn btn-sm btn-outline-success" asp-action="ListUploads">Back to Uploads</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
