@model ProLab.TheOneApp.Models.DataModels.FoodRating

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>FoodRating</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="DateTimePosted" class="control-label"></label>
                <input asp-for="DateTimePosted" class="form-control" />
                <span asp-validation-for="DateTimePosted" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DateTimeChanged" class="control-label"></label>
                <input asp-for="DateTimeChanged" class="form-control" />
                <span asp-validation-for="DateTimeChanged" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FoodRatingNumber" class="control-label"></label>
                <input asp-for="FoodRatingNumber" class="form-control" />
                <span asp-validation-for="FoodRatingNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FoodRatingName" class="control-label"></label>
                <input asp-for="FoodRatingName" class="form-control" />
                <span asp-validation-for="FoodRatingName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FoodRatingDescription" class="control-label"></label>
                <input asp-for="FoodRatingDescription" class="form-control" />
                <span asp-validation-for="FoodRatingDescription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
