@model ProLab.Models.DataModels.ProjectPost

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>ProjectPost</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="DateTimePosted" class="control-label"></label>
                <input asp-for="DateTimePosted" class="form-control" />
                <span asp-validation-for="DateTimePosted" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DateTimeChanged" class="control-label"></label>
                <input asp-for="DateTimeChanged" class="form-control" />
                <span asp-validation-for="DateTimeChanged" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProjectPostDescription" class="control-label"></label>
                <input asp-for="ProjectPostDescription" class="form-control" />
                <span asp-validation-for="ProjectPostDescription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DateTimePlaned" class="control-label"></label>
                <input asp-for="DateTimePlaned" class="form-control" />
                <span asp-validation-for="DateTimePlaned" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DateTimeStarted" class="control-label"></label>
                <input asp-for="DateTimeStarted" class="form-control" />
                <span asp-validation-for="DateTimeStarted" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DateTimeDone" class="control-label"></label>
                <input asp-for="DateTimeDone" class="form-control" />
                <span asp-validation-for="DateTimeDone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HourPrice" class="control-label"></label>
                <input asp-for="HourPrice" class="form-control" />
                <span asp-validation-for="HourPrice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TimeEstimate" class="control-label"></label>
                <input asp-for="TimeEstimate" class="form-control" />
                <span asp-validation-for="TimeEstimate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TotalCostEstimate" class="control-label"></label>
                <input asp-for="TotalCostEstimate" class="form-control" />
                <span asp-validation-for="TotalCostEstimate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TimeActual" class="control-label"></label>
                <input asp-for="TimeActual" class="form-control" />
                <span asp-validation-for="TimeActual" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MtrCostActual" class="control-label"></label>
                <input asp-for="MtrCostActual" class="form-control" />
                <span asp-validation-for="MtrCostActual" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LabourCostActual" class="control-label"></label>
                <input asp-for="LabourCostActual" class="form-control" />
                <span asp-validation-for="LabourCostActual" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TotalCostActual" class="control-label"></label>
                <input asp-for="TotalCostActual" class="form-control" />
                <span asp-validation-for="TotalCostActual" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProjectPostStatusId" class="control-label"></label>
                <select asp-for="ProjectPostStatusId" class="form-control" asp-items="ViewBag.ProjectPostStatusId"></select>
                <span asp-validation-for="ProjectPostStatusId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
