@{
    ViewData["Title"] = "TheOneApp-Home";
}

<div class="card card-columns">
    <div class="card-header">
        <h3>Hälsa</h3>
    </div>
    <div class="card-footer">
        <a asp-action="Index" asp-controller="Foods" class="btn btn-sm btn-outline-success">Till Livsmedel</a>
        - Administrera Livsmedel
    </div>
    <div class="card-footer">
        <a asp-action="Index" asp-controller="FoodRatings" class="btn btn-sm btn-outline-success">Till Livsmedels rankningar</a>
        - Administrera Livsmedelsrankningar
    </div>
</div>