<div class="card card-columns">
    <div class="card-header">
        <h3>Hockey domare</h3>
    </div>
    <div class="card-footer">
        <a asp-action="ListReferees" asp-controller="Referee" class="btn btn-sm btn-outline-success">Till Domarlistan </a>
        - Administrera Domare.
    </div>
</div>