@{
    ViewData["Title"] = "Accounting Page";
}

<div class="card card-columns">
    <div class="card-header">
        <h3>Accounting</h3>
    </div>
    <div class="card-footer">
        <a asp-action="IndexRefFees" asp-controller="Accounting" class="btn btn-sm btn-outline-success">Till Domararvoden</a>
        - Administrera Domararvoden.
    </div>
    <div class="card-footer">
        <a asp-action="IndexRefReceipts" asp-controller="Accounting" class="btn btn-sm btn-outline-success">Till Domarkvitton</a>
        - Administrera Domarkvitton.
    </div>
    <div class="card-footer">
        <a asp-action="IndexSearch" asp-controller="Image" class="btn btn-sm btn-outline-success">Ladda upp Domarkvitto till match</a>
        - Ladda upp Domarkvitton.
    </div>
    <div class="card-footer">
        <a asp-action="Index" asp-controller="CleverServicePayments" class="btn btn-sm btn-outline-success">Till Cleverservice utbetalningar</a>
        - Hantera utbetalningar från Cleverservice.
    </div>
</div>