<div class="card card-columns">
    <div class="card-header">
        <h3>Hockey Cups</h3>
    </div>
    <div class="card-footer">
       <a href="default.asp"><img src="~/image/StockholmCup_Logo.jpg" alt="HTML tutorial" style="width:42px;height:42px;"></a> 
       <a asp-action="StockholmCup2022" asp-controller="SthlCup" class="btn btn-sm btn-outline-success">Till Stockholm Cup 2022</a>
        - Stockholm Cup 2022 tools & rules
    </div> 
<div class="card">
    <div class="card-header"><h4><b>Regelböcker</b></h4></div>
    <div class="card-body">
        <ul style="list-style-type:square;">
            <li><a href="https://www.swehockey.se/globalassets/bohuslan-dals-ishockeyforbund/bestammelser/seriebestammelser/spelregler-for-barn--och-ungdomsishockey-2021-2022/spelregler-for-barn--och-ungdomsishockey-2021-2022.pdf" target="_blank">SIF - Officiella Ungdoms regler</a></li>
            <li><a href="https://pdf.mediahandler.se/pdf/Spelregler_for_Ishockey_Senior_och_Junior_2021-2022/" target="_blank">SIF - Officiella SIF regler 2021-2022</a></li> 
            <li><a href="https://blob.iihf.com/iihf-media/iihfmvc/media/downloads/rule%20book/2021_22_iihf_rulebook_v1_1.pdf" target="_blank">IIHF - Officiella IIHF regler 2021-2022</a></li> 
            <li><a href="http://www.euroha.eu/en/rules/" target="_blank">EUROHA - Officiella EUROHA regler</a></li> 
        </ul>
    </div>
    <div class="card-footer"></div>
</div>
</div>