@{
    ViewData["Title"] = "DWorkin Links";
}

<div class="card card-columns text-center" style="width: 50%">
    <div class="card-header">
        <h3>DWorkin Links</h3>
    </div>
    <div class="card-footer text-left">
        <ul style="list-style-type:square;">
            <li><a href="https://worklog.dworkin.eu/" target="_blank">DWorkin - Worklog</a></li>
            <li><a href="https://inotes.dworkin.eu/" target="_blank">DWorkin - WEB-Mail</a></li>
            <li><a href="https://album.dworkin.eu/" target="_blank">DWorkin - Filestorage </a></li>
            <li><a href="https://pmo.dworkin.eu/" target="_blank">DWorkin - PMO </a></li>
        </ul>
        <a class="btn btn-sm btn-success" asp-controller="NBS" asp-action="Links">Back to Links</a>
    </div>
</div>
