
@{
    ViewData["Title"] = "FitnesLinks";
}

<h3><b>Fitness Länkar</b></h3>

<h4><b>Fitness APPar - Trackers !</b></h4>
<ul style="list-style-type:square;">
    <li><a href="https://connect.garmin.com/signin/" target="_blank">Garmin Connect</a></li>
    <li><a href="https://www.strava.com/" target="_blank">Strava</a></li>
    <li><a href="https://www.mapmyfitness.com/" target="_blank">Map My Fitness</a></li>
    <li><a href="https://www.mapmyrun.com/" target="_blank">Map My Run</a></li>
    <li><a href="https://home.trainingpeaks.com/login" target="_blank">Traing Peaks</a></li>
</ul>

<h4><b>Fitness APPar - Diet managering !</b></h4>
<ul style="list-style-type:square;">
    <li><a href="https://www.myfitnesspal.com/sv/" target="_blank">My Fitness pal</a></li>
</ul>
