<div class="card card-columns">
    <div class="card-header">
        <h3>Hockey</h3>
    </div>
    <div class="card-footer">
        <a asp-action="IndexHockeyGames" asp-controller="HockeyGames" class="btn btn-sm btn-outline-success">Till Hockeymatcher</a>
        - Administrera Hockeymatcher
    </div>
    @*<div class="card-footer">
        <a asp-action="Index" asp-controller="TSMGames" class="btn btn-sm btn-outline-success">Till TSM Hockeymatcher</a>
        - Administrera TSM Hockeymatcher
    </div>*@
    <div class="card-footer">
        <a asp-action="Index" asp-controller="Health" class="btn btn-sm btn-outline-success">Till Medicinskt Protokoll</a>
        - Skicka, Spara, Ändra Medicinska protokoll
    </div>
</div>
<div class="card card-columns">
    <div class="card-header">
        <h3>Hockey Admin</h3>
    </div>
    <div class="card-footer">
        <a asp-action="Index" asp-controller="Clubs" class="btn btn-sm btn-outline-success">Till Klubbar</a>
        - Administrera Klubbar
    </div>
    <div class="card-footer">
        <a asp-action="Index" asp-controller="Arenas" class="btn btn-sm btn-outline-success">Till Arenor</a>
        - Administrera Arenor
    </div>
    @*<div class="card-footer">
        <a asp-action="Index" asp-controller="TSMSeries" class="btn btn-sm btn-outline-success">Till TSMSerier</a>
        - Administrera TSMSerier
    </div>*@
</div>