<div class="card card-columns">
    <div class="card-header">
        <h3>Hockey</h3>
    </div>
    <div class="card-footer">
        <a asp-action="IndexHockeyGames" asp-controller="HockeyGames" class="btn btn-sm btn-outline-success">Till Hockeymatcher</a>
        - Administrera Hockeymatcher
    </div>
    @*<div class="card-footer">
        <a asp-action="ListUsers" asp-controller="Administration" class="btn btn-sm btn-outline-success">Go to Users</a>
        - Administrate Users
    </div>*@
</div>