<div class="card card-columns">
    <div class="card-header">
        <h3>Hockey</h3>
    </div>
    <div class="card-footer">
        <a asp-action="IndexHockeyGames" asp-controller="HockeyGames" class="btn btn-sm btn-outline-success">Till Hockeymatcher</a>
        - Administrera Hockeymatcher
    </div>
    <div class="card-footer">
        <a asp-action="ListHockeyStats" asp-controller="HockeyStats" class="btn btn-sm btn-outline-success">Till Hockey Stats</a>
        - Administrera Hockey Stats
    </div>
    <div class="card-footer">
        <a asp-action="ListCupKvitton" asp-controller="Cup" class="btn btn-sm btn-outline-success">Till Cup Kvitton</a>
        - Administrera Cup Kvitton
    </div>
    <div class="card-footer">
        <a asp-action="Index" asp-controller="Tournaments" class="btn btn-sm btn-outline-success">Till Turneringar</a>
        - Administrera Turneringar
    </div>
    <div class="card-footer">
        <a asp-action="ListCups" asp-controller="Cup" class="btn btn-sm btn-outline-success">Till Cupper</a>
        - Cupper, första sidan.
    </div>
     <div class="card-footer">
        <a asp-action="Index" asp-controller="Health" class="btn btn-sm btn-outline-success">Till Medicinskt Protokoll</a>
        - Skicka, Spara, Ändra Medicinska protokoll
    </div>
    <div class="card-footer">
        <a asp-action="ListHockey4LifeLogs" asp-controller="Hockey4Life" class="btn btn-sm btn-outline-success">Till Hockey4Life</a>
        - Hockey4Life kort och gott !
    </div>
</div>
<div class="card card-columns">
    <div class="card-header">
        <h3>Hockey Admin</h3>
    </div>
    <div class="card-footer">
        <a asp-action="Index" asp-controller="Clubs" class="btn btn-sm btn-outline-success">Till Klubbar</a>
        - Administrera Klubbar
    </div>
    <div class="card-footer">
        <a asp-action="IndexTeamRosters" asp-controller="Teams" class="btn btn-sm btn-outline-success">Till Lagen</a>
        - Administrera Laglistor
    </div>
    <div class="card-footer">
        <a asp-action="Index" asp-controller="HockeyPlayers" class="btn btn-sm btn-outline-success">Till Spelarna</a>
        - Administrera Spelare och coacher
    </div>
    <div class="card-footer">
        <a asp-action="Index" asp-controller="Arenas" class="btn btn-sm btn-outline-success">Till Arenor</a>
        - Administrera Arenor
    </div>
    <div class="card-footer">
        <a asp-action="Index" asp-controller="Officials" class="btn btn-sm btn-outline-success">Till Funktionärsgrupper</a>
        - Administrera Funktionärsgrupper
    </div>
    <div class="card-footer">
        <a asp-action="ListUploads" asp-controller="Upload" class="btn btn-sm btn-outline-success">Till Uppladdade objekt</a>
        - Administrera Uppladdade Objekt
    </div>
</div>