<div class="card card-columns">
    <div class="card-header">
        <h3>NBS - Netello Buiseness Solutions</h3>
    </div>
    <div class="card-footer">
        <a asp-action="ListBillingPosts" asp-controller="Billing" class="btn btn-sm btn-outline-success">Till FA-Poster</a>
        - Administrera FA-Poster
    </div>
    <div class="card-footer">
        <a asp-action="ListCompanies" asp-controller="Companies" class="btn btn-sm btn-outline-success">Till Företagslistan</a>
        - Administrera Företag
    </div>
    <div class="card-footer">
        <a asp-action="Index" asp-controller="Employees" class="btn btn-sm btn-outline-success">Till Anställda</a>
        - Administrera Anställda !
    </div>
</div>
<div class="card card-columns">
    <div class="card-header">
        <h3>NBS Admin</h3>
    </div>
    <div class="card-footer">
        <a asp-action="ListCompanyRoles" asp-controller="Companies" class="btn btn-sm btn-outline-success">Till Roller för företag</a>
        - Administrera Företagens roller
    </div>
    <div class="card-footer">
        <a asp-action="Index" asp-controller="Arenas" class="btn btn-sm btn-outline-success">Till Arenor</a>
        - Administrera Arenor
    </div>
</div>