@{
    ViewData["Title"] = "NBS Links";
}

<div class="card card-columns text-center" style="width: 50%">
    <div class="card-header">
        <h3>Netello AB Links</h3>
    </div>
    <div class="card-footer text-left">
        <ul style="list-style-type:square;">
            <li><a href="https://netello.sharepoint.com/_layouts/15/sharepoint.aspx" target="_blank">Netello AB - Sharepoint</a></li>
        </ul>
        <a class="btn btn-sm btn-success" asp-controller="NBS" asp-action="Links">Back to Links</a>
    </div>
</div>
