<div class="card card-columns">
    <div class="card-header">
        <h3>PRO LAB - Per R Orest LAB</h3>
    </div>
    <div class="card-footer">
        <a asp-action="ListProjectPosts" asp-controller="Projects" class="btn btn-sm btn-outline-success">Till Projekt</a>
        - Administrera Projekt
    </div>
    @*<div class="card-footer">
        <a asp-action="Index" asp-controller="Health" class="btn btn-sm btn-outline-success">Till Medicinskt Protokoll</a>
        - Skicka, Spara, Ändra Medicinska protokoll
    </div>*@
</div>