
@{
    ViewData["Title"] = "RegusLinks";
}

<div class="card">
    <div class="card-header"><h4><b>Fitness Länkar</b></h4></div>
    <div class="card-body">
        <div class="card-header"><h6>Fitness APPar - Trackers !</h6></div>
        <ul style="list-style-type:square;">
            <li><a href="https://connect.garmin.com/signin/" target="_blank">Garmin Connect</a></li>
            <li><a href="https://www.strava.com/" target="_blank">Strava</a></li>
            <li><a href="https://www.mapmyfitness.com/" target="_blank">Map My Fitness</a></li>
            <li><a href="https://www.mapmyrun.com/" target="_blank">Map My Run</a></li>
            <li><a href="https://home.trainingpeaks.com/login" target="_blank">Traing Peaks</a></li>
        </ul>
        <div class="card-header"><h6>Fitness APPar - Diet managering !</h6></div>
        <ul style="list-style-type:square;">
            <li><a href="https://www.myfitnesspal.com/sv/" target="_blank">My Fitness pal</a></li>
        </ul>
    </div>
    <div class="card-footer"></div>
</div>