@{
    ViewData["Title"] = "SIFLinks";
}

<div class="card">
    <div class="card-header"><h4><b>Stockholms Ishockeyförbund</b></h4></div>
    <div class="card-body">
        <ul style="list-style-type:square;">
            <li><a href="https://adm.swehockey.se/" target="_blank">TSM - Svenska Ishockeyförbundet</a></li>
            <li><a href="https://stats.swehockey.se/Referee/ByGame" target="_blank">Referee ByGame - Svenska Ishockeyförbundet</a></li>
            <li><a href="https://www.swehockey.se/globalassets/region-ost/dokument/arvode-21-22.pdf" target="_blank">Domararvoden 2021/2022</a></li>
            <li><a href="http://www.stockholmhockey.se/globalassets/stockholms-ishockeyforbund/dokument/domare/domarkvitto.pdf" target="_blank">Domarkvitto - Stockholms Ishockeyförbundet</a></li>
            <li><a href="https://docs.google.com/forms/d/e/1FAIpQLSfmsNxzHEsgzrD3FebqAhN_Ik_0Ezn2PlWgGYUA3uVS2QYEVw/viewform" target="_blank">Återbudsdokument Domare - Stockholms Ishockeyförbundet</a></li>
            <li><a href="https://madm.swehockey.se/" target="_blank">Madmin - Ishockeyförbundet</a></li>
        </ul>
    </div>
    <div class="card-footer"></div>
</div>