@model BillingPost

@{
    ViewData["Title"] = "CreateBillingPost";
}


<div class="card col-md-6">
    <div class="card-body col-md-12">
        <div class="row">
            <div class="col-md-6">
                <form asp-action="CreateBillingPost">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="Customer" class="control-label"></label>
                        <input asp-for="Customer" class="form-control" />
                        <span asp-validation-for="Customer" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Incident" class="control-label"></label>
                        <input asp-for="Incident" class="form-control" />
                        <span asp-validation-for="Incident" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="PONumber" class="control-label"></label>
                        <input asp-for="PONumber" class="form-control" />
                        <span asp-validation-for="PONumber" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Started" class="control-label"></label>
                        <input asp-for="Started" class="form-control" />
                        <span asp-validation-for="Started" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Ended" class="control-label"></label>
                        <input asp-for="Ended" class="form-control" />
                        <span asp-validation-for="Ended" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Hours" class="control-label"></label>
                        <input asp-for="Hours" class="form-control" value="0" />
                        <span asp-validation-for="Hours" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Price" class="control-label"></label>
                        <input asp-for="Price" class="form-control" value="450" />
                        <span asp-validation-for="Price" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Total" class="control-label"></label>
                        <input asp-for="Total" class="form-control" value="0" />
                        <span asp-validation-for="Total" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Outlay" class="control-label"></label>
                        <input asp-for="Outlay" class="form-control" value="0" />
                        <span asp-validation-for="Outlay" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="EmployeeId" class="control-label"></label>
                        <select asp-for="EmployeeId" class="form-control" asp-items="ViewBag.EmployeeId"></select>
                    </div>
                    <div class="form-group">
                        <label asp-for="BPStatusId" class="control-label"></label>
                        <select asp-for="BPStatusId" class="form-control" asp-items="ViewBag.BPStatusId"></select>
                    </div>
                    <div class="form-group">
                        <label asp-for="Notes" class="control-label"></label>
                        <input asp-for="Notes" class="form-control" />
                        <span asp-validation-for="Notes" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="WLNumber" class="control-label"></label>
                        <input asp-for="WLNumber" class="form-control" />
                        <span asp-validation-for="WLNumber" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Registrera" class="btn btn-sm btn-primary" />
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="card-footer col-md-12">
        <a class="btn btn-sm btn-success" asp-controller="Billing" asp-action="ListBillingPosts">Till Faktureringen</a>
    </div>
</div>