@model ProLab.Models.DataModels.BillingPost

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>BillingPost</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Customer" class="control-label"></label>
                <input asp-for="Customer" class="form-control" />
                <span asp-validation-for="Customer" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Incident" class="control-label"></label>
                <input asp-for="Incident" class="form-control" />
                <span asp-validation-for="Incident" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Started" class="control-label"></label>
                <input asp-for="Started" class="form-control" />
                <span asp-validation-for="Started" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Ended" class="control-label"></label>
                <input asp-for="Ended" class="form-control" />
                <span asp-validation-for="Ended" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Hours" class="control-label"></label>
                <input asp-for="Hours" class="form-control" />
                <span asp-validation-for="Hours" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Price" class="control-label"></label>
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Total" class="control-label"></label>
                <input asp-for="Total" class="form-control" />
                <span asp-validation-for="Total" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Outlay" class="control-label"></label>
                <input asp-for="Outlay" class="form-control" />
                <span asp-validation-for="Outlay" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EmployeeId" class="control-label"></label>
                <select asp-for="EmployeeId" class="form-control" asp-items="ViewBag.EmployeeId"></select>
                <span asp-validation-for="EmployeeId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Notes" class="control-label"></label>
                <input asp-for="Notes" class="form-control" />
                <span asp-validation-for="Notes" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="WLNumber" class="control-label"></label>
                <input asp-for="WLNumber" class="form-control" />
                <span asp-validation-for="WLNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BPStatusId" class="control-label"></label>
                <select asp-for="BPStatusId" class="form-control" asp-items="ViewBag.BPStatusId"></select>
                <span asp-validation-for="BPStatusId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
